
<app-header></app-header>
<main>
  <!-- <ul id="users">
    <li>
      <app-user 
        [id]="dum_users[0].id" 
        [avatar]="dum_users[0].avatar" 
        [name]="dum_users[0].name"
        (select)="onSelectUser($event)"
      ></app-user>
    </li>
    <li>
      <app-user 
        [id]="dum_users[1].id" 
        [avatar]="dum_users[1].avatar" 
        [name]="dum_users[1].name"
        (select)="onSelectUser($event)"
      ></app-user>
    </li>
    <li>
      <app-user 
        [id]="dum_users[2].id" 
        [avatar]="dum_users[2].avatar" 
        [name]="dum_users[2].name"
        (select)="onSelectUser($event)"
      ></app-user>
    </li>
    <li>
      <app-user 
        [id]="dum_users[3].id" 
        [avatar]="dum_users[3].avatar" 
        [name]="dum_users[3].name"
        (select)="onSelectUser($event)"
      ></app-user>
    </li>
  </ul> -->
  
  <!-- <ul id="users">
    <li>
      <app-user
        [user] = "dum_users[0]"
        (select)="onSelectUser($event)"
      ></app-user>
    </li>
    <li>
      <app-user
        [user] = "dum_users[1]"
        (select)="onSelectUser($event)"
      ></app-user>
    </li>
    <li>
      <app-user
        [user] = "dum_users[2]"
        (select)="onSelectUser($event)"
      ></app-user>
    </li>
    <li>
      <app-user
        [user] = "dum_users[3]"
        (select)="onSelectUser($event)"
      ></app-user>
    </li> 
  </ul> -->

  <ul id="users">
    @for (user of dum_users; track user.id){
      <li>
        <app-user [user] = "user" [selected]="user.id === selectedUserId" (select)="onSelectUser($event)"></app-user>
      </li>
    }
  </ul>

  <!-- Using directives ngFor -->
  <!-- <ul id="users">
      <li *ngFor="let user of dum_users">
        <app-user [user] = "user" (select)="onSelectUser($event)"></app-user>
      </li>
  </ul> -->

  <!-- TASKS THAT USER CAN ADD -->
  <!-- <app-tasks [name] = "selectedUser.name"></app-tasks> -->

  <!-- 
  <app-tasks [name] = "selectedUser?.name"></app-tasks>
  <app-tasks [name] = "selectedUser ? selectedUser.name : '' "></app-tasks>
   -->

   @if (selectedUserId) {
      <app-tasks [userId]="selectedUser.id" [name] = "selectedUser.name"></app-tasks>
   }
   @else{
      <p id="fallback">Select a user to see their tasks!</p>
   }

   <!-- Using directives ngIf -->
   <!-- <app-tasks *ngIf="selectedUser; else ngtemp" [name] = "selectedUser!.name"></app-tasks>
   <ng-template #ngtemp>
      <p id="fallback">Select a user to see their tasks!</p>
   </ng-template> -->


</main>

<router-outlet />

